/* General Styles */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#F3EEEA, #EBE3D5);
    width: 100%;
    height: 100vh; /* Ensure full viewport height */
    margin: 0;
    font-size: 16px;
}

/* Header Styles */
header {
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

header .overlay {
    width: 100%;
    height: auto;
    padding: 50px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
}

/* Headings */
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    margin-bottom: 30px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

/* Button Styles */
button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: #333;
    background: #fff;
    margin-bottom: 50px;
    box-shadow: 0 3px 20px 0 #0000003b;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #eee;
}

/* Mode Toggle Styles */
.mode {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.toggle {
    display: flex;
    align-items: center;
}

.toggle-track {
    position: relative;
    display: flex;
    align-items: center;
}

.toggle-checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-thumb {
    position: relative;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-checkbox:checked + .toggle-thumb {
    background-color: #666;
}

.toggle img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2.5px;
}

.toggle img:first-of-type {
    left: 5px;
}

.toggle img:last-of-type {
    right: 5px;
}

/* Center Container */
.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
}

/* Textarea Styles */
textarea {
    width: 50%;
    height: 130px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-family: 'Comic Sans MS', cursive;
    font-size: 1em;
    resize: none;
    color: grey;
    background-image: linear-gradient(135deg, #F3EEEA 10%, #fd5e086b 100%);
    padding: 20px;
    box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
}

/* Responsive Styles */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.5em;
    }

    textarea {
        width: 80%;
        font-size: 1em;
    }
}
